<!DOCTYPE html>
<html>
<head>
	<title>Places</title>
	<%= stylesheet_link_tag    :all %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquery_ujs' %>
	<%= javascript_include_tag 'http://documentcloud.github.com/backbone/test/vendor/json2.js' %>
	<%= javascript_include_tag 'http://documentcloud.github.com/underscore/underscore-min.js' %>
	<%= javascript_include_tag 'http://documentcloud.github.com/backbone/backbone-min.js' %>
	<%= javascript_include_tag 'http://documentcloud.github.com/backbone/examples/backbone-localstorage.js' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
